/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #e0e0e0
}

.edit-btn {
    padding-left: 1.1035rem;
    padding-right: 1.1035rem;
}
.card-margin {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.rounded-left {
    border-top-left-radius: 0.75rem; 
    border-bottom-left-radius: 0.75rem; 
}

.rounded-right {
    border-top-right-radius: 0.75rem; 
    border-bottom-right-radius: 0.75rem; 
}

.border-easy {
    border-style: solid;
    border-width: 1px;
    border-color: #d5d5d5
}
td, th {
    text-align: center;
}


.dropdown-menu {
    box-shadow: -1px 3px 5px 0 rgba(0,0,0,.2);
    border-radius: .25rem;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.bg-primary .dropdown-menu {
    color: #ddeeee;
    background-color: #347474;
}

.bg-primary .dropdown-menu .dropdown-item.active,
.bg-primary .dropdown-menu .dropdown-item:hover,
.bg-primary .dropdown-menu .dropdown-item:focus {
    background-color: #5c9797;
}

.nav-link {
    color: #ddeeee;
}

.nav-link-border-underline {
    position: relative;
}

.nav-link-border-underline::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.nav-link-border-underline:hover::before {
    transform: scaleX(1);
}
    /*****************************/
    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }



.nav-pills .nav-link.active,
.nav-pills .show > .nav-link
{
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

.border-top
{
    border-top: 1px solid #e5e5e5;
}

.border-bottom
{
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow
{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy
{
    font-size: 1rem;
    line-height: inherit;
}

html
{
    position: relative;
    min-height: 100%;
}



.badge
{
    background-color: rgba(193, 148, 45, 0.664);
    color: white;
}

.text-warning
{
    color: #ce853d !important;
}

.text-secondary
{
    color: #5c9797 !important;
}

.text-primary
{
    color: #347474 !important;
}

.text-success
{
    color: #42b883 !important;
}

.bg-primary
{
    background-color: #347474 !important;
}

.bg-secondary
{
    background-color: #5c9797 !important;
}

bg-success
{
    background-color: #42b883 !important;
}



.card
{
    border-color: #5c9797 !important;
}



/* btn-outline-primary */



.btn-outline-primary
{
    color: #347474;
    border-color: #347474;
}



.btn-outline-primary:hover
{
    color: #fff;
    background-color: #347474;
    border-color: #347474;
}



.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show
{
    color: #fff;
    background-color: #347474;
    border-color: #347474;

}



.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-outline-primary:disabled,
.btn-outline-primary.disabled
{
    color: #347474;
    background-color: transparent;
}


.btn-outline-warning
{
    color: #ce853d;
    border-color: #ce853d;
}



.btn-outline-warning:hover
{
    color: #fff;
    background-color: #ce853d;
    border-color: #ce853d;
}



.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show
{
    color: #fff;
    background-color: #ce853d;
    border-color: #ce853d;
}



.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-outline-warning:disabled,
.btn-outline-warning.disabled
{
    color: #ce853d;
    background-color: transparent;
}



.btn-outline-secondary
{
    color: #5c9797;
    border-color: #5c9797;
}



.btn-outline-secondary:hover
{
    color: #fff;
    background-color: #5c9797;
    border-color: #5c9797;
}



.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show
{
    color: #fff;
    background-color: #5c9797;
    border-color: #5c9797;
}



.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled
{
    color: #5c9797;
    background-color: transparent;
}




/* btn-primary */



.btn-primary
{
    color: #fff;
    background-color: #347474;
    border-color: #347474;
}



.btn-primary:hover
{
    color: #fff;
    background-color: #445f5e;
    border-color: #445f5e;
}



.btn-check:focus + .btn-primary,
.btn-primary:focus
{
    color: #fff;
    background-color: #445f5e;
    border-color: #445f5e;
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle
{
    color: #fff;
    background-color: #445f5e;
    border-color: #445f5e;
}



.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-primary:disabled,
.btn-primary.disabled
{
    color: #fff;
    background-color: #445f5e;
    border-color: #445f5e;
}


.btn-danger
{
    color: #fff;
    background-color: #c0424c;
    border-color: #c0424c;
}



.btn-danger:hover
{
    color: #fff;
    background-color: #b84743;
    border-color: #ae423f;
}



.btn-check:focus + .btn-danger,
.btn-danger:focus
{
    color: #fff;
    background-color: #d9534f;    
    border-color: #d9534f;  
    box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
}



.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle
{
    color: #fff;
    background-color: #b84743;
    border-color: #b84743;
}



.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
}



.btn-danger:disabled,
.btn-danger.disabled
{
    color: #fff;
    background-color: #b84743;
    border-color: #b84743;
}





.btn-secondary
{
    color: #fff;
    background-color: #5c9797;
    border-color: #5c9797;
}



.btn-secondary:hover
{
    color: #fff;
    background-color: #1a6985;
    border-color: #1a6985;
}



.btn-check:focus + .btn-secondary,
.btn-secondary:focus
{
    color: #fff;
    background-color: #1a6985;
    border-color: #1a6985;
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle
{
    color: #fff;
    background-color: #1a6985;
    border-color: #1a6985;
}



.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-secondary:disabled,
.btn-secondary.disabled
{
    color: #fff;
    background-color: #1a6985;
    border-color: #1a6985;
}



.btn-warning
{
    color: #fff;
    background-color: #ce853d;
    border-color: #ce853d;
}



.btn-warning:hover
{
    color: #fff;
    background-color: #c6883a;
    border-color: #c6883a;
}



.btn-check:focus + .btn-warning,
.btn-warning:focus
{
    color: #fff;
    background-color: #c6883a;
    border-color: #c6883a;
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle
{
    color: #fff;
    background-color: #c6883a;
    border-color: #c6883a;
}



.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-warning:disabled,
.btn-warning.disabled
{
    color: #fff;
    background-color: #c6883a;
    border-color: #c6883a;
}



.btn-outline-success
{
    color: #42b883;
    border-color: #42b883;
}



.btn-outline-success:hover
{
    color: #fff;
    background-color: #42b883;
    border-color: #42b883;
}



.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show
{
    color: #fff;
    background-color: #42b883;
    border-color: #42b883;
}



.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus
{
    box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
}



.btn-outline-success:disabled,
.btn-outline-success.disabled
{
    color: #42b883;
    background-color: transparent;
}




/* btn-primary */



.btn-success
{
    color: #fff;
    background-color: #42b883;
    border-color: #42b883;
}



.btn-success:hover
{
    color: #fff;
    background-color: #5fdda4;
    border-color: #5fdda4;
}



.btn-check:focus + .btn-success,
.btn-success:focus
{
    color: #fff;
    background-color: #5fdda4;
    border-color: #5fdda4;
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle
{
    color: #fff;
    background-color: #5fdda4;
    border-color: #5fdda4;
}



.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
}



.btn-success:disabled,
.btn-success.disabled
{
    color: #fff;
    background-color: #5fdda4;
    border-color: #5fdda4;
}