@model Animal

<form method="post">
    
    <div class="border p-3 mt-4">
        
        <div class="row pb-2">

            <h2 class="text-primary">Add Animal</h2>

            <hr />

            <div class="mb-3 row">

                <label class="p-0">Name</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Age</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Species</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Breed</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Sex</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Size</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Description</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Adoption Status</label>

                <input type="text" class="form-control" />

            </div>
            
            <div class="mb-3 row">

                <label class="p-0">Photo Url</label>

                <input type="text" class="form-control" />

            </div>

        </div>

    </div>

</form>