@model Product

<div class="card shadow border-0 pb-3 card-margin">

    <div class="card-header bg-primary bg-gradient ml-0 py-3">

        <div class="row">

            <div class="col-12 text-center">

                <h2 class="text-white">Edit details of the product</h2>

            </div>

        </div>

    </div>

    <div class="card-body">

        <form method="post" class="row">

            <div class="border-0 px-4">

                <div class="form-floating py-2 col-12">

                    <input asp-for="Brand" class="form-control shadow" />

                    <label asp-for="Brand" class="ms-2"></label>

                    <span asp-validation-for="Brand" class="text-danger"></span>

                </div>

                <div class="form-floating py-2 col-12">

                    <select asp-for="Type" class="form-control shadow">
                        <option value="Cat Food">Cat Food</option>
                        <option value="Dog Food">Dog Food</option>
                        <option value="Toys">Toys</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Misc">Misc</option>
                    </select>

                    <label asp-for="Type" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">

                    <input asp-for="Description" class="form-control shadow" />

                    <label asp-for="Description" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">

                    <input asp-for="AvailableQuantity" class="form-control shadow" />

                    <label asp-for="AvailableQuantity" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">

                    <input asp-for="PhotoUrl" class="form-control shadow" />

                    <label asp-for="PhotoUrl" class="ms-2"></label>

                </div>

                <div class="row pt-3">

                    <div class="col-6">
                        <button type="submit" class="btn btn-primary rounded-left form-control">Finish Editing</button>
                    </div>

                    <div class="col-6">

                        <a asp-controller="Product"
                           asp-action="Index"
                           class="btn btn-warning form-control rounded-right">
                            Back to List
                        </a>

                    </div>

                </div>

            </div>

        </form>

    </div>

</div>
