@model List<Animal>

<div class="card shadow border-0 pb-3 card-margin">

    <div class="card-header bg-primary bg-gradient ml-0 py-3">

        <div class="row">

            <div class="col-8">

                <h2 class="text-white mx-3 px-4 crisp-text">Animals Looking for a Forever Home</h2>

            </div>

            <div class="col-4 text-end px-4">

                <a asp-controller="Animal"
                   asp-action="Upsert"
                   class="btn border btn-outline-secondary text-white crisp-text">
                    <i class="bi bi-plus-circle crisp-text"> Add Animal</i>
                </a>

            </div>

        </div>

    </div>

    <div class="card-body">

        <table id="tblData" class="table table-bordered border-easy" style="width: 100%">

            <thead>

                <tr>

                    <th class="col-3">
                        Name
                    </th>

                    <th class="col-1">
                        Age
                    </th>

                    <th class="col-1">
                        Species
                    </th>

                    <th class="col-2">
                        Breed
                    </th>

                    <th class="col-1">
                        Sex
                    </th>

                    <th class="col-3">
                        Photo
                    </th>

                    <th>
                        <i class="bi bi-pencil-square"></i> / <i class="bi bi-trash"></i>
                    </th>

                </tr>

            </thead>

        </table>

    </div>

</div>

@section Scripts
{
    <script src="~/js/animal.js"></script>
}